.header {
  background-color: #131313;
  color: #d0d0d0;
  padding: 1em 0;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-list {
  list-style: none;
  margin: 0;
}

.menu-item {
  display: inline-block;
  margin: 0.5em;
  padding: 1em;
}
